<form action="/random/results">
  <label for="min_id">Minimum</label>
  <input type="text" id="min_id" name="minimum">
  <label for="max_id">Maximum</label>
  <input type="text" id="max_id" name="maximum">
  <button>Pick random number</button>
</form>
